{% extends 'base.html.twig' %}

{% block title %}Immo34 | Découvrez Nos Biens{% endblock %}

{% block body %}

<div class="jumbotron text-center p-5">
    <h1> Découvrez Nos Biens </h1>
    <p> L'agence Immo34 vous propose une large panoplie de biens à votre disposition.</p>
</div>
{% endblock %}
